@import url('https://fonts.googleapis.com/css?family=Oswald');

#Harriot {
  float: left;
}
img {
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  width: 100%;
}

body {
    font-family: 'Oswald';
    font-weight: lighter;
    font-size: large;
    background-repeat: repeat;
    background-image: url('../../Images/GreyBackground.jpg');
    background-size: 100% auto;
}

video {
  float:left;
}
