@font-face {
    font-family: OswaldLight;
    src: url(../../Fonts/Oswald-Light.ttf)
}

@font-face {
    font-family: OswaldRegular;
    src: url(../../Fonts/Oswald-Regular.ttf)
}
#Harriot {
  float: left;
}
img {
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
  width: 100%;
}

body {
    font-family: OswaldLight;
    font-size: large;
    background-repeat: repeat;
    background-image: url('../../Images/GreyBackground.jpg');
    background-size: 100% auto;
}

video {
  float:left;
}
