@font-face {
    font-family: OswaldLight;
    src: url(../../Fonts/Oswald-Light.ttf)
}

@font-face {
    font-family: OswaldRegular;
    src: url(../../Fonts/Oswald-Regular.ttf)
}

p {
    font-size: large;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd)  {
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: lightblue;
}
#Wilt {
    background-color: lightblue;
}
#Klay {
    background-color: yellow;
}

body {
    font-family: OswaldLight;
    background-repeat: repeat;
    background-image: url('../../Images/GreyBackground.jpg');
    background-size: 100% auto;
}
