@font-face {
    font-family: OswaldLight;
    src: url(../../Fonts/Oswald-Light.ttf)
}

@font-face {
    font-family: OswaldRegular;
    src: url(../../Fonts/Oswald-Regular.ttf)
}
p {
    border-left: 5px solid red;
    background-color: lightblue;
}

body {
    font-family: OswaldLight;
    background-repeat: no-repeat;
    background-image: url('../../Images/GreyBackground.jpg');
    background-size: 100% auto;
}
