@import url('https://fonts.googleapis.com/css?family=Oswald');

#WiltChamberlain {
  width: 20%;
  height: auto;
  padding:0px 70px 0px 0px;
  margin-left: 60px;
}
p {
    font-size: large;
}
h2 {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
th {
    font-size: 18px;
}
tr:nth-child(odd)  {
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: lightblue;
}
#Wilt {
    background-color: lightblue;
}
#Klay {
    background-color: yellow;
}
#Allen {
    background-color: lightblue;
}
#Russell {
  align: middle;
}


}

body {
    font-family: 'Oswald';
    font-weight: lighter;
    font-size: large;
    background-repeat: repeat;
    background-image: url('../../Images/GreyBackground.jpg');
    background-size: 100% auto;
}

.firstColumn {
  width: 450px;
}

.secondColumn {
  width: 540px;
}

.thirdColumn {
  width: 370px;
}
