@import url('https://fonts.googleapis.com/css?family=Oswald');

p {
    font-size: large;
}
body {
    font-family: 'Oswald';
    font-weight: lighter;
    font-size: large;
    background-repeat: repeat;
    background-image: url('../../Images/GreyBackground.jpg');
    background-size: 100% auto;
}
